*{
    margin: 0;
    padding: 0;
}


html, body {
    height: 100%;
}

body {
    font-family: 'Raleway', sans-serif;
    color: white;
    
    background: rgba(54,77,204,1);
    background: linear-gradient(176deg, rgba(54,77,204,1) 0%, rgba(19,35,124,1) 100%);
}


.avatar{
    width: 80px;
    border-radius: 50%;
    border: 3px solid white;
    box-shadow: 0 0 20px white ;
}


.links-list li {
    

    list-style: none;
    
    margin: 10px 20px;
    border-radius: 2%;
    border: 3px solid white;
    box-shadow: 0 0 20px white ;
    background: white;
    justify-content: space-around;
    
}

.links-list li a{
    display: block;
    padding: 10px ;
    border-radius: 4%;
    text-decoration: none;
    background: white;
    color: rgba(54,77,204,1);
}

.links-list li a span{
  color: grey;
  display: block;
  margin-top: 10px;
}



h1{
    font-weight: 100;
    font-size: 24px;
    font-family: 'Architects Daughter', cursive;
    margin-bottom: 2px;
}

h2{
   font-size: 16px;
   
}

.profile{
    margin-top: 20px;
    text-align: center;
}

.social {
    display: flex;
    justify-content: center;
    list-style: none;
    justify-content: space-around;
    margin: 20px 0;
    
}
.social img{

    width: 33px;
    


}






